<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title"><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></h1>
					</div><!-- unit-inner -->
                    <div class="meta">
                        <p class="date-publish">
                        <date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
                            <span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
                            <span class="day">{{ page.date | date: '%d' }}</span>
                            <span class="year">{{ page.date | date: '%Y' }}</span>
                        </date>
                        </p>
                    </div><!-- meta -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ page.content }}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
