---
layout: page
title: 
tagline: 
---
{% include JB/setup %}

{% for page in paginator.posts %}
  {% include themes/the-program/page_collate.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination-outer">
    <div class="pagination-inner">
{% if paginator.next_page %}
    <span class="pagination-next"> <a href="/page{{paginator.next_page}}" class="pagination-a"><span class="pagination-label">Older posts</span></a> </span>
  {% else %}
  {% endif %}
  
  {% if paginator.previous_page %}
    {% if paginator.previous_page ==1 %}
      <span class="pagination-previous"> <a href="/blog" class="pagination-a"><span class="pagination-label">Newer posts</span></a> </span>
    {% else %}
      <span class="pagination-previous"> <a href="/page{{paginator.previous_page}}" class="pagination-a"><span class="pagination-label">Newer posts</span></a> </span>
    {% endif %}
  {% endif %}
  
</div>